body {
    background-color: rgb(28, 214, 228);
 color: black;   
}
section{
background-color: aquamarine;
padding-top: 88px;
padding-top: 88px;
display: flex;
justify-content: center;
{
.chamada-texto(
margin-right: 48px;
}
ing{
height: 200px;
}
.chamada-video(
display:flex;
overflow:flex;
gap: 10px;
}