body {
    background-color: rgb(35, 40, 41);
 color: rgb(48, 226, 102);   
}
section{
background-color: rgb(24, 21, 209);
padding-top: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
{
.chamada-texto(
margin-right: 48px;
}
ing{
height: 200px;
}
.chamada-video(
display:flex;
overflow:flex;
gap: 10px;
}